@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


.row{
  /* margin-right: (0.5*var(--bs-gutter-x)) !important; */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.slick-prev,
.slick-next {
  display: block;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.slick-prev::before,
.slick-next::before {
  font-size: 70px !important;
  color: rgba(0, 0, 0, 0.452) !important;
}

.slick-prev {
  left: -80px !important;
}

.slick-next {
  right: -40px !important;
}


.nav-tabs .nav-link.active{
  background-color: rgb(140, 142, 133) !important;
  color: rgb(58, 53, 53) !important ;
}

.nav-link{
  color: whitesmoke !important;
}

.logoutbtn .btn{
  color: whitesmoke !important;
}


#phoneNumber::-webkit-outer-spin-button,
#phoneNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.visualSpread {
  border-right: 5px solid rgb(237, 114, 0);
}




/* override day number color and size */
.fc-day-number {
  font-size: 1.5em;
  color: #5c005c;
}

/* override day title color and size */
.fc-day-header {
  font-size: 1.5em;
  color: #00b294;
}



.circle {
  background-color: #d83b01;
  border-radius: 50%;
  color: #fff;
  height: 2.5em;
  position: relative;
  width: 2.5em;

  border: 1px solid transparent;
}

.circleText {
  text-align: center;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.hover {
  background-color: #0078d4;
}